@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-next-icon,
.carousel-prev-icon {
  @apply text-[50px]
}

input:focus {
  outline: none;
}

.activate-btn {
  @apply bg-black text-white
}

/* Menu Button */
.menu-btn {
  @apply text-black hover:text-white hover:border-black 
  hover:bg-black  transition-colors border-solid border-b border-l box-border
  h-full flex justify-center items-center pt-5 pb-5 pl-6 pr-8;
}
.menu-btn.menu-open {
  @apply border-white text-white;
}

.img {
  @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
}

/* .side-bar {
  @apply fixed left-0 top-0 z-10 text-gray pb-[80px]
} */

/* import fonts */
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

.menu-image {
  background-image: url("../public/images/MenuImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}